services:
  mongodb:
    image: mongo:6.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_AUTH_USERNAME:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_AUTH_PASSWORD:-changeme}
      MONGO_INITDB_DATABASE: ${MONGODB_DATABASE:-metadata}
    ports:
      - '27017:27017'
    volumes:
      - ${MOTION_HOME:-$HOME/.motion}/zenko/mongodbMetadata:/data/db
  motion:
    image: ghcr.io/filecoin-project/motion:main
    ports:
      - "40080:40080"
    environment:
      - MOTION_STORE_DIR=/usr/src/app/storage
    volumes:
      - ${MOTION_HOME:-$HOME/.motion}/storage:/usr/src/app/storage
  cloudserver:
    image: ghcr.io/filecoin-project/motion-cloudserver:main
    environment:
      REMOTE_MANAGEMENT_DISABLE: 1
      S3DATA: 'multiple'
      MOTION_HOST: 'motion'
      S3METADATA: 'mongodb'
      MONGODB_HOSTS: 'mongodb:27017'
      MONGODB_AUTH_USERNAME: ${MONGODB_AUTH_USERNAME:-root}
      MONGODB_AUTH_PASSWORD: ${MONGODB_AUTH_PASSWORD:-changeme}
      MONGODB_DATABASE: ${MONGODB_DATABASE:-metadata}
    ports:
      - "8000:8000"
    volumes:
      - ${MOTION_HOME:-$HOME/.motion}/zenko/localData:/usr/src/app/localData
      - ${MOTION_HOME:-$HOME/.motion}/zenko/localMetadata:/usr/src/app/localMetadata
      - ${S3AUTH_CONFIG:-$PWD/authdata.json}:/usr/src/app/conf/authdata.json
    depends_on:
      mongodb:
        condition: service_started